@font-face {
	font-family: "Roboto-100";
	src: url(../assets/fonts/Roboto-Thin.ttf);
}

@font-face {
	font-family: "Roboto-300";
	src: url(../assets/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: "Roboto-400";
	src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Roboto-500";
	src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: "Roboto-700";
	src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: "Roboto-900";
	src: url(../assets/fonts/Roboto-Black.ttf);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto-400";
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

a:visited {
	color: inherit;
}

html {
	min-height: 100%;
	position: relative;
}

p {
	text-align: center;
	text-size-adjust: none;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#tag-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tag {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin: 0.5em;
	height: 5em;
	width: 15em;
	overflow: visible;
}

.tag > p {
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

/* Tag Highlighting Categories */
p.category-Edibles {
	background-color: rgba(125, 239, 156, 0.5);
}

p.category-Vapes {
	background-color: rgba(240, 125, 125, 0.5);
}

p.category-Concentrates {
	background-color: rgba(125, 209, 240, 0.5);
}

p.category-Pre-Rolls {
	background-color: rgba(248, 255, 85, 0.5);
}

p.category-Topicals {
}

p.category-Flower {
	background-color: rgba(156, 85, 255, 0.5);
}

p.category-Beverages {
	background-color: rgba(125, 239, 156, 0.5);
}

@media print {
	html {
		print-color-adjust: exact;
	}

	div {
		break-inside: avoid;
	}

	form {
		display: none;
		height: 0;
	}
}
