/* CSS Setup */
:root {
	/* colors based on tailwind's slate scale */
	--slate-100: #f1f5f9;
	--slate-200: #e2e8f0;
	--slate-300: #cbd5e1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-600: #475569;
	--slate-700: #334155;
	--slate-800: #1e293b;
	--slate-900: #0f172a;
	--blue-200: #bfdbfe;
	--blue-400: #60a5fa;
	--blue-600: #2563eb;
	--blue-800: #1e40af;
}

@font-face {
	font-family: "Roboto-100";
	src: url(../assets/fonts/Roboto-Thin.ttf);
}

@font-face {
	font-family: "Roboto-300";
	src: url(../assets/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: "Roboto-400";
	src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Roboto-500";
	src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: "Roboto-700";
	src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: "Roboto-900";
	src: url(../assets/fonts/Roboto-Black.ttf);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto-400";
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

a:visited {
	color: inherit;
}

button,
input[type="file"]::file-selector-button {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	text-align: inherit;
	background: none;
	box-shadow: none;
	padding: 0;
	cursor: pointer;
	border: none;
	color: inherit;
	font: inherit;
	margin: 12px;
}

html {
	height: 100%;
	position: relative;
}

/** App  */
div#app {
	margin: 0;
	flex-direction: column;
	align-items: center;
}

/** Header  */
header {
	padding: 0.5em 0 0.5em 0;
	background-color: var(--slate-800);
	display: flex;
	position: fixed;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 6px 6px 0px;
}

header h2 {
	color: var(--slate-200);
}

header form {
	display: flex;
	justify-content: end;
	align-items: center;
}

header form input[type="file"] {
	background-color: var(--slate-600);
	border-radius: 8px;
	color: var(--slate-200);
	cursor: pointer;
	margin-right: 18px;
	padding: 8px;
	width: 400px;
}

header form input[type="file"]::file-selector-button {
	color: var(--slate-200);
	background-color: var(--blue-800);
	/* border: var(--blue-600) 1px solid; */
	border-radius: 8px;
	padding: 8px 16px;
	margin: 0 8px 0 0;
}

header form input[type="file"]::file-selector-button:hover {
	background-color: var(--blue-600);
}

button.options-btn:hover {
	cursor: not-allowed;
}

i {
	color: var(--blue-800);
}

i:hover {
	color: var(--blue-600);
}

/** Generator */
/* Tags */
p {
	text-align: center;
	text-size-adjust: none;
}

#tag-container {
	margin: 80px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tag {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin: 0.2em;
	height: 4em;
	width: 15em;
	overflow: visible;
}

.tag > p {
	font-size: 0.7em;
	width: 100%;
}

.tag > p.product-name {
	padding: 0 0.1em 0 0.1em;
}

/* Category Highlights */
p.category-Edibles {
	background-color: rgba(125, 239, 156, 0.5);
}

p.category-Vapes {
	background-color: rgba(240, 125, 125, 0.5);
}

p.category-Concentrates {
	background-color: rgba(125, 142, 240, 0.5);
}

p.category-Pre-Rolls {
	background-color: rgba(248, 255, 85, 0.5);
}

p.category-Pre-Rolls.subCategory-Infused-Pre-Rolls {
	background-color: rgba(125, 209, 240, 0.5);
}

p.category-Pre-Rolls.subCategory-Infused-Blunts {
	background-color: rgba(125, 209, 240, 0.5);
}

p.category-Topicals {
	background-color: rgba(254, 255, 172, 0.5);
}

p.category-Flower {
	background-color: rgba(156, 85, 255, 0.5);
}

p.category-Beverages {
	background-color: rgba(125, 239, 156, 0.5);
}

@media print {
	@page {
		margin: 0.1in;
	}
	html {
		print-color-adjust: exact;
		-webkit-print-color-adjust: exact;
	}

	div {
		break-inside: avoid;
	}

	div#tag-container {
		margin: 0;
	}

	header {
		display: none;
		height: 0;
	}

	footer {
		display: none;
		height: 0;
	}
}
